:root {
  --branding-color: #272044;
  --caption-font-family: "Poppins", sans-serif;
  --secondary-color: white;
  --tertiary-color: rgb(106, 2, 106);
  --purple: #885df1;
}

body {
  font-family: var(--caption-font-family);
  background-color: var(--branding-color);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(
      0deg,
      #030504 0%,
      rgba(2, 4, 3, 0.3) 51.55%,
      rgba(11, 6, 32, 0) 100%
    ),
    url("../images/IMG_9745.jpeg");
  background-repeat: no-repeat;
  color: var(--secondary-color);
  background-size: cover;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 150px;
}

header h1 {
  font-weight: 700px;
  font-size: 84px;
  line-height: 1.5;
  padding-bottom: 150px;
  margin: 0;
}

header h2 {
  font-weight: 400px;
  font-size: 40px;
  line-height: 1.5;
  padding-bottom: 120px;
}

header h3 {
  font-weight: 400px;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 3px;
  margin: 0;
}

header a {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 100px;
  background: var(--Purple, #885df1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--secondary-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 3px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.music {
  background: linear-gradient(
      0deg,
      rgba(3, 5, 4, 0.9) 0%,
      rgba(2, 4, 3, 0.7) 51.55%,
      rgba(11, 6, 32, 0.6) 100%
    ),
    url("/images/IMG_4066.png") lightgray 50% / cover no-repeat;
  max-width: 100%;
  height: auto;
}

section.music-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

section.music h3 {
  color: var(--secondary-color);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}

section.music h2 {
  color: var(--Light, #fff);
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.family {
  max-width: 100%;
}

.family2 {
  min-width: 100%;
}

main h2 {
  font-weight: 700px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-weight: 700px;
  font-size: 32px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns-w-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background: var(--secondary-color);
  margin: 30px 0;
}

.card-content {
  padding: 24px 32px;
}

.card img {
  flex-shrink: 0;
}

.img-responsive {
  width: 100%;
  display: block;
}

.embed {
  width: 100%;
  aspect-ratio: 16/ 9;
}

.card-header.grid {
  gap: 0;
}

.card h4 {
  color: var(--Dark, #272044);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.card p {
  color: var(--Dark, #272044);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
}

.card h5 {
  color: var(--Dark, #272044);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 100px;
  background: var(--Purple, #885df1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--secondary-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 3px;
}

main p {
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.grid {
  display: grid;
  gap: 56px;
}

footer {
  color: var(--secondary-color);
  background-image: linear-gradient(
      0deg,
      #030504 0%,
      rgba(39, 32, 68, 0.3) 100%,
      rgba(39, 32, 68, 0) 100%
    ),
    url("../images/IMG_5462.jpeg");
  background-repeat: no-repeat;
  color: var(--secondary-color);
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

main {
  background-color: var(--secondary-color);
}

.photos {
  background-color: var(--secondary-color);
  text-align: center; 
  padding: 30px 30px;
}

.photos h3 {
  font-weight: 700px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

.photos h2 {
  font-weight: 700px;
  font-size: 32px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
  padding-bottom: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 36px;
  }

  header h2 {
    font-size: 16px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  section {
    padding: 30px;
  }

  .family2 {
    display: none;
  }
}
