:root {
    --branding-color: #272044;
    --caption-font-family: "Poppins", sans-serif;
    --secondary-color: white;
    --tertiary-color: rgb(106, 2, 106);
    --purple: #885DF1;
;
}

body {
  font-family: var(--caption-font-family);
  background-color: var(--branding-color);
  color: var(--secondary-color);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(0deg, #030504 0%, rgba(2, 4, 3, 0.30) 51.55%, rgba(11, 6, 32, 0.00) 100%), url("../images/IMG_9745.jpeg");
  background-repeat: no-repeat;
  color: var(--secondary-color);
  background-size: cover;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 150px;
}

header h1 {
  font-weight: 700px;
  font-size:84px;
  line-height: 1.5;
  padding-bottom: 150px;
  margin: 0;
}

header h2 {
  font-weight: 400px;
  font-size:40px;
  line-height: 1.5; 
  padding-bottom: 120px;
}

header h3 {
  font-weight: 400px;
  font-size: 24px;
  line-height: 1.5; 
  letter-spacing: 3px;
  margin: 0;
}

header a {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 100px;
  background: var(--Purple, #885DF1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--secondary-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 3px;
}

footer {
  text-align: center;
  padding: 60px 0;
}


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 36px;
  }

  header h2 {
    font-size: 16px;
  }

  header h3 {
    font-size: 12px;
  }
}

